.newsletter {
    background: #cae5f4;
    padding: 0;
    margin-top: 3rem;
}

.newsletter_img img{
    width: 100%;
}

.newsletter_content {
    padding: 50px 0;
}

.newsletter_content h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.newsletter_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.newsletter_input input {
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.newsletter_input input:focus{
    outline: none;
}

.newsletter_btn{
    padding: 0.5rem 1.5rem !important;
    background: var(--secondary-color) !important;
    color: #fff !important;
    font-size: 1.1rem !important;
}

.newsletter_content p{
    color: var(--heading-color);
    font-size: 1.1rem;
}